[submodule "src/libbncsutil/bncsutil"]
	path = src/libbncsutil/bncsutil
	url = https://github.com/w3gh/bncsutil.git
[submodule "src/libStorm/StormLib"]
	path = src/libStorm/StormLib
	url = https://github.com/w3gh/StormLib.git
